<div id="admin-dashboard">
    <!-- --------------------------- SIDEBAR --------------------------------- -->
    <!-- <div id="sidebar">
        <h2>ADMIN</h2> -->

        <!-- ----------------------- HOME --------------------------- -->
        <!-- <div class="sidebar-options" (click)="selectMenuItem('home')" [class.selected]="selectedMenuItem === 'home'">
            <i class="fa-solid fa-house icons-outlined" [class.selected]="selectedMenuItem === 'home'"></i>
            <span class="sidebar-text" [class.selected]="selectedMenuItem === 'home'">HOME</span>
        </div> -->

        <!-- ----------------------- LIST PROJECTS --------------------------- -->
        <!-- <div  class="sidebar-options" (click)="selectMenuItem('projects')"  [class.selected]="selectedMenuItem === 'projects'">
            <i class="fa-solid fa-folder-open icons-outlined" [class.selected]="selectedMenuItem === 'projects'"></i>
            <span class="sidebar-text" [class.selected]="selectedMenuItem === 'projects'">PROJECTS</span>
        </div> -->

        <!-- ----------------------- LIST USERS --------------------------- -->
        <!-- <div  class="sidebar-options" (click)="selectMenuItem('users')">
            <i class="fa-solid fa-user-group icons-outlined" [class.selected]="selectedMenuItem === 'users'"></i>
            <span class="sidebar-text" [class.selected]="selectedMenuItem === 'users'">USERS</span>
        </div> -->
        
        
        <!-- ----------------------- LIST TEAMS --------------------------- -->
        <!-- <div  class="sidebar-options" (click)="selectMenuItem('teams')">
            <i class="fa-solid fa-users icons-outlined" [class.selected]="selectedMenuItem === 'teams'"></i>
            <span class="sidebar-text" [class.selected]="selectedMenuItem === 'teams'">TEAMS</span>
        </div> -->

        <!-- ----------------------- PROFILE --------------------------- -->
        <!-- <i class="fa-regular fa-user icons-outlined"></i> -->
        <!-- <div  class="sidebar-options" (click)="selectMenuItem('profile')">
            <i class="fa-solid fa-user-gear icons-outlined" [class.selected]="selectedMenuItem === 'profile'"></i>
            <span class="sidebar-text" [class.selected]="selectedMenuItem === 'profile'">PROFILE</span>
        </div> -->

        <!-- ----------------------- LOGOUT --------------------------- -->
        <!-- <div  class="sidebar-options" (click)="selectMenuItem('logout')">
            <i class="fa-solid fa-arrow-right-from-bracket icons-outlined" [class.selected]="selectedMenuItem === 'logout'"></i>
            <span class="sidebar-text" [class.selected]="selectedMenuItem === 'logout'">LOGOUT</span>
        </div> -->
    <!-- </div> -->



    <!-- ------------------------- OTHER CONTENT ----------------------------- -->
    <!-- Render Home Content component as per selectedMenuItem -->
    <!-- <div id="other-content">
        <app-admin-home-content *ngIf="selectedMenuItem === 'home'"></app-admin-home-content>

        <app-admin-projects-content *ngIf="selectedMenuItem === 'projects'"></app-admin-projects-content>

        <app-admin-users-content *ngIf="selectedMenuItem === 'users'"></app-admin-users-content>
    </div> -->
</div>