<div *ngIf="project" id="project-details">
    <!-- Admin-specific sidebar -->
    <!-- <ng-container class="sidebar-component">
        <app-admin-sidebar *ngIf="user?.role === 'Admin'"></app-admin-sidebar>
    </ng-container> -->


    <div id="single-project-content">
        <i class="fa-solid fa-arrow-left-long" id="back-arrow" (click)="goBack(user?.role)"></i>
        <h1>{{ project.name }}</h1>
        <p class="text-large italics">{{ project.description }}</p>
        <p><span class="bold-text">Start Date :-</span> {{ project.startDate }}</p>
        <p><span class="bold-text">End Date :-</span> {{ project.endDate }}</p>
        <h3 *ngIf="projectManager">Project Manager :- {{ projectManager.name }}</h3>
        <h3 *ngIf="teamMembers && teamMembers.length > 0">Team Members :- </h3>
        <ul *ngFor="let member of teamMembers">
            <li class="text-medium">{{ member.name }}</li>
        </ul>
    </div>
</div>